.memberList {
    top:5px;
    height: 100%;
    width: 80%;
    margin-left: 2%;
    margin-right: 5%;
    margin-top: 2%;
    flex: 9;
  }
  
  .memberListMember {
    display: flex;
    align-items: center;
  }
  
  .memberListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .memberListEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
  }
  
  .memberListDelete{
      color: red;
      cursor: pointer;
  }